import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Ajo Project 1 Proposal";
---

<Layout title={pageTitle}>
  <h1>JoJo Project 1 Proposal</h1>
  <p>You can use this file as a template for your assignments.</p>
  <p>
    wut da frik
    component:
  </p>
  <pre><code>&lt;Layout compact title="Page Title"&gt;</code></pre>
  <p>
    In Astro, we usually write styling in a <code>&lt;style&gt;</code> tag within
    each component file. This lets us keep the styles for each component together
    with the component itself. Styles that are written in one component will not
    affect other components or pages, even if you use the same class names.
  </p>
</Layout>

<style>
  h1 {
    color: blue;
  }
</style>
