---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "JoJo Barone Proposal Assignment 1";
---

<Layout title={pageTitle}>
  <h1>Assignment 1 Proposal: Hole in the Wall</h1>
  <p>My proposed assignment is essentially a fake resturant's website that I had been working on. I want this as a place to hold the complete project including the collateral mockups and menu.
    I won't have every aspect of the resturant in completion for this partticular assignment, but the goal is to have a usable website that is somewhat believeable. I already have most of the 
    menu written up, so it would mainly be styling for screens of all sizes.</p>
  <p>
    Flatbreads

The Forager- brick oven flatbread with gruyere, mozz, caramelized onions, mushrooms, candied walnuts topped with truffle parm and blackberry balsamic (veg)
  </p>

  <p>
    The Farmer- brick oven flatbread, romano cheese, charred carrot and zucchini ribbons, hot honey butter drizzle, arugula and lemon zest (veg)
  </p>

  <p>
    The Artisan- brick oven flatbread, goat cheese, prosciutto, peaches, fig jam, wildflower honey, wine crusted toscano shavings, cracked black pepper
  </p>

  <p>
    The Adventurer- brick oven flatbread, calabrian chili red sauce, smoked mozzarella, prosciutto, italian sausage crumble, pepperoni, olive tapenade (lemon zest)
  </p>

  <p>
    The Herbalist- brick oven flatbread, vegan rosemary crema, charred pear slices, basil, crispy chickpea topping(v)
  </p>
</Layout>

<style>
  h1 {
    color: blue;
  }
</style>
